$main-font-size: 16px; 
$main-font-family: 'Open Sans', sans-serif;

//  $grid-breakpoints

$xs: 0; // x-small
$sm: 576px; // small
$md: 768px; // medium
$lg: 992px; // large
$xl: 1200px; // extra large
$xxl: 1400px; // extra extra large