.container{
  max-width: 1240px;
  width: 85%;
  margin: 0 auto;
  padding: 0 20px;
}

// RESPONSIVE


@media only screen and (max-width: 968px){
  .container{
  max-width: 968px;
  width: 80%;

  padding: 0px;
}}
// }desktop

@media only screen and (max-width: 768px){
  .container{
  max-width: 768px;
  padding: 0px;
}
}//tablet

@media only screen and (max-width: 576px){
  .container{
  max-width: 576px;
  padding: 0px;
}
}//mobile

@media only screen and (max-width: 375px){
  .container{
  max-width: 375px;
  padding: 0px;

}
}//mobile-sm