#faq{
  height: 811px;
  background-color: #000;
  padding-top: 80px;
  
  .container{
    padding: 0;
    .faq__wrapper{
      padding: 0;
      color: #fff;
      &-title{
        text-transform: uppercase;
        text-align: center;
        color: #ff8a56;
        font-size: 25px;
        line-height: 22px;
        letter-spacing: 4px;
        margin-bottom: 25px;
        font-weight: 700;
      }
      &-text{
        display: block;
        font-size: 44px;
        text-align: center;
        line-height: 49px;
        letter-spacing: 1px;
        font-weight: 700;
        width: 780px;
        margin: 0 auto;
        margin-bottom: 70px;
      }

      &__questions{
        width: 100%;
        justify-content: space-between;
        display: flex;
        &-list{
          list-style-type: none;
          padding: 0;

          &-item{
            position: relative;
            width: 584px;
            padding: 40px 0;
            border-bottom: 1px solid rgba(102, 102, 102, 0.685);
            transition: all 0.5s ease;

            &-title{
              font-size: 24px;
            }

            &-btn{
              cursor: pointer;
              width: 40px;
              height: 40px;
              position: absolute;
              top: 30px;
              right: 0;
              font-size: 24px;
              color: #fff;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
