#loader{
  background: #fff url(..//..//images/loader-n.gif) no-repeat center;
  background-size: 500px;
  background-position: center 18em;
  height: 150vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}