#services{
  height: 813px;
  position: relative;

  .top{
    display: none;
    width: 60px;
    height: 40px;
    border-radius: 15px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    border: none;
    background-color: rgb(182, 182, 182);
    transition: all .5s ease;
    a{
      color: inherit;
      text-decoration: none;
      padding: 12px 15px;
    }
  }
  .container{

    .services__wrapper{
      height: 813px;
      padding: 70px 0;

      &-info{
        text-align: center;
        width: 798px;
        margin: 0 auto;

        &-title{
          text-transform: uppercase;
          text-align: center;
          color: #ff5e69;
          font-size: 20px;
          line-height: 22px;
          letter-spacing: 4px;
          margin-bottom: 15px;
          font-weight: 700;
        }
  
        strong{
          font-size: 44px;
          line-height: 49px;
          letter-spacing: 1px;
          font-weight: 700;
        }
      
      }

      &-card{
        position: relative;
        margin-top: 114px;
        height: 351px;
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: space-between;

        &-item{
          width: 285px;
          height: 351px;

          &-icon{
            margin-left: 15px;
          }

          &-title{
            font-size: 20px;
            line-height: 26px;
            font-weight: 700;
          }
          &-text{
            color: #666;
            line-height: 28px;
          }

          .cardList{
            width: 335px;
            height: 104px;
            list-style-type: square;
            padding-left: 15px;
            position: absolute;
            bottom: 15px;

            &-item{
              height: 28px;
              font-weight: 700;
              line-height: 28px;

              &:not(:last-child){
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
}